<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hunterSelectPage.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <img src="/DestinyResourse/select_img.jpg" alt="" width="100%" height="100%" id="bgi">
        <img src="/DestinyResourse/H/hunter_icon1.png" alt="" width="100px" height="100px" id="hunter-icon">
        <div class="hunter-content">
            <div class="imgs">
                <a href="#"><img src="/DestinyResourse/H/armImg.jpg" alt="" id="item1"></a>
                <a href="/view/hunterSkilSelect.html"><img src="/DestinyResourse/H/skilImg.jpg" alt="" id="item2"></a>
                <a href="#"><img src="/DestinyResourse/H/hunter.jpg" alt="" id="item3"></a>
            </div>
        </div>
    </div>
</body>
</html>